.head-name {
  display: flex;
  width: 70%;
  justify-content: space-between;
  margin: 0;
  align-items: center;
}

.add-btn {
  height: max-content;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 2, 143);
  color: white;
  appearance: none;
  background-color: #043eff;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.add-btn:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.add-btn:hover {
  background-color: #0285ff;
}

.add-btn:focus {
  box-shadow: rgba(0, 65, 161, 0.4) 0 0 0 3px;
  outline: none;
}

.add-btn:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.add-btn:active {
  background-color: #002d81;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.container {
  display: grid;
  grid-template-columns: auto;
  padding-left: 15%;
}

table {
  width: 85%;
}

td {
  padding: 0.5rem;
  text-align: center;
}

th {
  text-align: center;
}

tr {
  height: 2.75rem;
}

tr:nth-child(odd) {
  background-color: #f2f2f2
}

tr:hover {
  background-color: #cecccc;
}


.create-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

input {
  width: 50%;
  height: 3rem;
  font-size: 1.75em;
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 10px;
}

select {
  width: 50%;
  height: 3rem;
  font-size: 1.75em;
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 10px;
}

textarea {
  width: 50%;
  height: 3rem;
  font-size: 1.5em;
  font-family: 'Courier New', Courier, monospace;
  /* margin: 1em; */
}

.container2 {
  display: flex;
  flex-direction: column;
  padding-left: 15%;
  row-gap: 3em;
}

.card {
  align-self: center;
  letter-spacing: 0.045em;
  text-transform: uppercase;
  white-space: nowrap;
  text-align: center;
}

.comment-holder {
  width: fit-content;
  padding: 10px;
  border-left: 6px solid #095484;
  background-color: #00b1e7;
  font: 1.4em/1.6em cursive;
  color: white;
}

.comment {
  width: 40%;
  height: 100px;
  padding: 10px;
  border-left: 6px solid #095484;
  background-color: #d0e2bc;
  font: 1.4em/1.6em cursive;
  color: #095484;
}