.head{
    display: flex;
    background-color: white(0, 95, 21);
    color: gray;
    column-gap: 1.5em;
    padding-left: 15%;
    /* width: 100%; */
    height: 3.5rem;
    min-width: 100%;
    margin-bottom: 10px;
    box-shadow: 10px 10px 5px lightgrey;
}
.head a:first-child{
    color: rgb(73, 204, 73);
    font-weight: bold;
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.head a{
    margin: 0;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF8C;
}
